.hero {
    width: 100%;
    height: 550px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items:center;
    justify-content:center;
}

.form_heading {
	margin-top: 150px;
	padding-top: 50px;
	background-color: rgba(0, 0, 0, 0.7);
}

.form_heading p {
	text-align: left;
    padding-top: 10px;
	padding-left: 40px;
}

.form_heading h1 {
	text-align: left;
	padding-left: 40px;
	font-size: 2.5rem;
	font-weight: 400;
}
.hero form {
    width: 90%;
    max-width: 600px;
}

.input_group {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
    text-align: left;
}

.form_label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: text;
    transition: 0.2s;
}

.submit_button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    transition: transform ease 0.5s;
}

.submit_button:hover {
    transform: translateY(-5px);
}

input:valid~.form_label,
input:focus~.form_label,
textarea:focus~.form_label,
textarea:valid~.form_label {
    top: -35px;
    font-size: 14px;
}