.main-gallery {
    padding: 1em;
    width: 100%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
    display: flex;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
            'ill-20 ill-19 ill-18'
            'ill-17 ill-16 ill-15'
            'ill-14 ill-13 ill-12'
            'ill-11 ill-10 ill-9'
            'ill-8 ill-7 ill-6'
            'ill-5 ill-4 ill-3'
            'ill-2 ill-1 ill-3';
}

.image-gallery a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    aspect-ratio: 1/1;
    width: auto;
    height: auto;
}

.image-gallery a ion-icon {
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    position: relative;
    z-index: 0;
    padding: 1rem 3rem;
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover ion-icon, 
.image-gallery a:hover::before {
    opacity: 1;
}

.ill-1 {
    grid-area: ill-1;
    background-image: url(images/illustrations/1.png);
}

.ill-2 {
    grid-area: ill-2;
    background-image: url(images/illustrations/2.png);
}

.ill-3 {
    grid-area: ill-3;
    background-image: url(images/illustrations/3.png);
}

.ill-4 {
    grid-area: ill-4;
    background-image: url(images/illustrations/4.jpg);
}

.ill-5 {
    grid-area: ill-5;
    background-image: url(images/illustrations/5.png);
}

.ill-6 {
    grid-area: ill-6;
    background-image: url(images/illustrations/6.png);
}

.ill-7 {
    grid-area: ill-7;
    background-image: url(images/illustrations/7.png);
}

.ill-8 {
    grid-area: ill-8;
    background-image: url(images/illustrations/8.png);
}

.ill-9 {
    grid-area: ill-9;
    background-image: url(images/illustrations/9.png);
}

.ill-10 {
    grid-area: ill-10;
    background-image: url(images/illustrations/10.jpg);
}

.ill-11 {
    grid-area: ill-11;
    background-image: url(images/illustrations/11.png);
}

.ill-12 {
    grid-area: ill-12;
    background-image: url(images/illustrations/12.png);
}

.ill-13 {
    grid-area: ill-13;
    background-image: url(images/illustrations/13.png);
}

.ill-14 {
    grid-area: ill-14;
    background-image: url(images/illustrations/14.png);
}

.ill-15 {
    grid-area: ill-15;
    background-image: url(images/illustrations/15.jpg);
}

.ill-16 {
    grid-area: ill-16;
    background-image: url(images/illustrations/16.png);
}

.ill-17 {
    grid-area: ill-17;
    background-image: url(images/illustrations/17.png);
}

.ill-18 {
    grid-area: ill-18;
    background-image: url(images/illustrations/18.png);
}

.ill-19 {
    grid-area: ill-19;
    background-image: url(images/illustrations/19.png);
}

.ill-20 {
    grid-area: ill-20;
    background-image: url(images/illustrations/20.png);
}

@media screen and (max-width: 992px) {
.image-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'ill-20 ill-19'
        'ill-18 ill-17'
        'ill-16 ill-15'
        'ill-14 ill-13'
        'ill-12 ill-11'
        'ill-10 ill-9'
        'ill-8 ill-7'
        'ill-6 ill-5'
        'ill-4 ill-3'
        'ill-2 ill-1'
}
    
}

@media screen and (max-width: 768px) {
    .image-gallery {
        grid-template-areas: 
                'ill-20 ill-20 ill-20'
                'ill-19 ill-19 ill-19'
                'ill-18 ill-18 ill-18'
                'ill-17 ill-17 ill-17'
                'ill-16 ill-16 ill-16'
                'ill-15 ill-15 ill-15'
                'ill-14 ill-14 ill-14'
                'ill-13 ill-13 ill-13'
                'ill-12 ill-12 ill-12'
                'ill-11 ill-11 ill-11'
                'ill-10 ill-10 ill-10'
                'ill-9 ill-9 ill-9'
                'ill-8 ill-8 ill-8'
                'ill-7 ill-7 ill-7'
                'ill-6 ill-6 ill-6'
                'ill-5 ill-5 ill-5'
                'ill-4 ill-4 ill-4'
                'ill-3 ill-3 ill-3'
                'ill-2 ill-2 ill-2'
                'ill-1 ill-1 ill-1';
    }
        
    }

